.main__margins{
    width: 1000px;
}

.main__title-news{    
    font-size: 2.5rem;
}

.main__text-news{
    font-size: 1.5rem;
}

.main__contact-colaboration{
    width: 1000px;
    margin: 0 auto;
}