*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --dark_green: #216D69;
    --green: #41A5A2;
    --dark_gray: #939393;
    --gray: #C4C4C4;
    --background: #eeeeee;

    /* Typography */
    --fira: 'Fira Sans', sans-serif;
    --noto: 'Noto Sans', sans-serif;
    --gothic: 'Gothic A1', sans-serif;
    --bungee: 'Bungee', cursive;
    --squada: 'Squada One', cursive;
}

html{
    font-size: 72.5%;
}


/* HEADER STYLES */

.header{
    width: 100%;
}

.header__barmedia{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark_green);

}

.media-icon{
    width: 30px;
    height: 30px;
    margin: 0;
    transition: ease-in-out;
}

.media-icon:hover{
    transform: scale(1.1);
}

.header__logo-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__logo{
    width: 70px;
    height: 70px;
    margin: 10px 0;
}

.header__logo-about a{
    font-family: var(--fira);
    font-size: 1.4rem;
    color: var(--dark_gray);
    text-decoration: none;
}

/* MAIN STYLES  */

.main{
    width: 100%;
}

.main__margins{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
    /* border: 1px solid black; */
}

.main__img-container-news{
    width: 100%;
    margin-bottom: 12px;
    border-radius: 5px;
    overflow: hidden;
    
}

.main__img-news{
    width: 100%;
    min-height: 162px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.main__title-news{
    width: 100%;
    font-family: var(--noto);
    font-size: 1.4rem;
    color: black;
    margin-bottom: 18px;
}

.main__date-author{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.main__date-author-item{
    width: 100%;
    display: flex;
    align-items: center;
}

.date-author-icon{
    width: 20px;
    min-width: 20px;
    max-width: 26px;
    height: 25px;
    margin-right: 5px;
}

.date-author-info{
    width: 100%;
    font-family: var(--gothic);
    font-size: .9rem;
    color: black;
}

.main__text-news{
    width: 100%;
    font-family: var(--gothic);
    font-size: 1.1rem;
    line-height: 2.4rem;
    color: black;
}

.text-news__subtitle{
    width: 100%;
    font-family: var(--noto);
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    margin: 12px 0;
    color: black;
}

.main__text-news.a{
    margin-bottom: 120px;
}

.fuente__roja{
    color: #AA1717;
    display: inline;
    font-family: var(--gothic);
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.fuente__negra{
    color: black;
    display: inline;
    font-family: var(--gothic);
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.main__button-returnHome{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-returnHome{
    width: 80px;
    height: 33px;
    background-color: var(--dark_green);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .6);
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out;
}

.button-returnHome a{
    color: white;
    font-family: var(--fira);
    font-size: 1.4rem;
    text-decoration: none;
}

.button-returnHome:hover{
    transform: scale(1.1);
}

.button-returnHome:active{
    transform: scale(.95);
}

.main__contact-colaboration{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: #939393;
}

.colaboration-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-colaboration__text{
    font-family: var(--noto);
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: white;

}

.contact-colaboration__social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social__media{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-colaboration__social-icon.facebook{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    transition: ease-in-out;
}

.contact-colaboration__social-icon.mail{
    width: 35px;
    height: 23.7px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    transition: ease-in-out;
}

.contact-colaboration__social-icon.facebook:hover{
    transform: scale(1.1);
}

.contact-colaboration__social-icon.mail:hover{
    transform: scale(1.1);
}

.social__media > a{
    font-size: 1rem;
    font-family: var(--noto);
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* FOOTER STYLES */

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark_green);

}

.footer__margins{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo-container{
    width: 104px;
    height: 50px;
}

.footer__arrow-up{
    width: 45px;
    height: 45px;
}