*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --dark_green: #216D69;
    --green: #41A5A2;
    --dark_gray: #939393;
    --gray: #C4C4C4;
    --background: #eeeeee;

    /* Typography */
    --fira: 'Fira Sans', sans-serif;
    --noto: 'Noto Sans', sans-serif;
    --gothic: 'Gothic A1', sans-serif;
    --bungee: 'Bungee', cursive;
    --squada: 'Squada One', cursive;
}

html{
    font-size: 72.5%;
}


/* HEADER STYLES */

.header{
    width: 100%;
}

.header__barmedia{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark_green);

}

.media-icon{
    width: 30px;
    height: 30px;
    margin: 0;

}

.header__logo-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__logo{
    width: 70px;
    height: 70px;
    margin: 10px 0;
}

.header__logo-about a{
    font-family: var(--fira);
    font-size: 1.4rem;
    color: var(--dark_gray);
    text-decoration: none;
}

/* MAIN STYLES */

.main{
    width: 100%;
}

.main__identity-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.main__xplora-game-up{
    font-family: var(--squada);
    font-size: 3.6rem;
    color: black;
    text-transform: uppercase;
}

.main__logo-xplora{
    width: 250px;
    height: 250px;
}

/*MAIN STYLES HISTORIA*/

.main__margins{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 42px;
    /* border: 1px solid black; */
}

.main__info-xplora{
    width: 100%;
    margin-bottom: 36px;
}

.main__info-xplora-title{
    font-family: var(--noto);
    font-size: 1.4rem;
    color: black;
    margin: 16px 0;
}

.main__info-xplora-description{
    width: 95%;
    font-family: var(--gothic);
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: black;
    margin: 0 auto;
}

/*MAIN STYLES CARDS AUTHORS*/

.main__cards-container{
    width: 100%;
}

.main__card-item{
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}

.card__image-author{
    width: 50%;
    max-width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.card__info-author{
    width: 45%;
    /* height: 130px; */
}

.card__info-name{
    font-family: var(--fira);
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.card__info-general-styles{
    font-family: var(--noto);
    font-size: 1.1rem;
}

.card__info-general-styles strong{
    color: var(--dark_green);
}

/* FOOTER STYLES */

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark_green);

}

.footer__margins{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo-container{
    width: 104px;
    height: 50px;
}

.footer__arrow-up{
    width: 45px;
    height: 45px;
}