.media-icon{
    width: 38px;
    height: 38px;
}

.header__logo{
    width: 80px;
    height: 80px;
}

.main__xplora-game-up{
    font-size: 4rem;
}

.main__margins{
    width: 85%;
}

.main__info-xplora-title{
    font-size: 1.6rem;
}

.main__info-xplora-description{
    font-size: 1.3rem;
}

.main__card-item{
    height: 200px;
}

.card__image-author{
    max-width: 170px;
    height: 170px;
}

.card__info-author{
    width: 40%;
    height: 150px;
    justify-content: space-between;
}