/* Main */

.h1_title{
    width: 1200px;
}

.destacado_post{
    width: 1200px;
}

.h2_title{
    width: 1200px;
}

.normal_post{
    width: 1200px;
}

/* Footer */

.footer__margins{
    width: 1200px;
}