*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --dark_green: #216D69;
    --green: #41A5A2;
    --dark_gray: #939393;
    --gray: #C4C4C4;
    --background: #eeeeee;

    /* Typography */
    --fira: 'Fira Sans', sans-serif;
    --noto: 'Noto Sans', sans-serif;
    --gothic: 'Gothic A1', sans-serif;
    --bungee: 'Bungee', cursive;
}

html{
    font-size: 72.5%;
}