*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --dark_green: #216D69;
    --green: #41A5A2;
    --dark_gray: #939393;
    --gray: #C4C4C4;
    --background: #eeeeee;

    /* Typography */
    --fira: 'Fira Sans', sans-serif;
    --noto: 'Noto Sans', sans-serif;
    --gothic: 'Gothic A1', sans-serif;
    --bungee: 'Bungee', cursive;
}

html{
    font-size: 72.5%;
}

/* HEADER STYLES */

.header{
    width: 100%;
}

.header__barmedia{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark_green);

}

.media-icon{
    width: 30px;
    height: 30px;
    margin: 0;

}

.header__logo-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__logo{
    width: 70px;
    height: 70px;
    margin: 10px 0;
}

.header__logo-about a{
    font-family: var(--fira);
    font-size: 1.4rem;
    color: var(--dark_gray);
    text-decoration: none;
}

/* MAIN STYLES */

.main{
    width: 100%;

}

.main__margins-highlights{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    row-gap: 34px;
    margin-bottom: 32px;
    /* border: 1px solid black; */
}

.titulares{
    font-family: var(--fira);
    font-size: 2.4rem;
    color: black;
    margin: 0;
}

/* MAIN STYLES CARDS HIGHLIGTS */

.main__card-highlight, .main__card-post { /* CONTIENE LAS CLASES DE LOS DESTACADOS COMO LOS POST NORMALES */
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

}

.card-highlight__img, .card-post__img{ /* CONTIENE LAS CLASES DE LOS DESTACADOS COMO LOS POST NORMALES */
    width: 100%;
    min-height: 162px;
    max-height: 180px;
    margin: 0 auto;
    background-image: url();
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.card-highlight__info-card{
    width: 100%;
    background-color: var(--dark_green);
}

.card-highlight__info-card-container{
    width: 95%;
    margin: 0 auto;
    padding-top: 12px;
}

.card-highlight__info-card-title{
    font-family: var(--noto);
    font-size: 1.4rem;
    color: white;
    margin: 0;
}

.card-highlight__info-card-description{
    font-family: var(--gothic);
    font-size: 1.1rem;
    color: var(--gray);
    margin: 10px 0;
}

.card-highlight__info-card-button{
    width: 80px;
    height: 33px;
    background-color: white;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .6);
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out;
}

.card-highlight__info-card-button a{
    color: var(--dark_green);
    font-family: var(--fira);
    font-size: 1.4rem;
    text-decoration: none;
}

.card-highlight__info-card-button:active{
    transform: scale(.9);
}

/* MAIN STYLES PART 2 */

.main__margins-post{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, auto);
    row-gap: 34px;
    margin-bottom: 32px;
}

.main__post{
    font-family: var(--fira);
    font-size: 2.4rem;
    color: black;
    margin: 0;
}

.card-post__info-card{
    width: 100%;
}

.card-post__info-card-container{
    width: 95%;
    margin: 0 auto;
    padding-top: 12px
}

.card-post__info-card-title{
    font-family: var(--noto);
    font-size: 1.4rem;
    color: black;
    margin: 0;
}

.card-post__info-card-description{
    font-family: var(--gothic);
    font-size: 1.1rem;
    color: black;
    margin: 10px 0;
}

.card-post__info-card-button{
    width: 80px;
    height: 33px;
    background-color: var(--dark_green);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .6);
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out;
}

.card-post__info-card-button a{
    color: white;
    font-family: var(--fira);
    font-size: 1.4rem;
    text-decoration: none;
}

.card-post__info-card-button:active{
    transform: scale(.9);
}

/* FOOTER STYLES */

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark_green);

}

.footer__margins{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo-container{
    width: 104px;
    height: 50px;
}

.footer__arrow-up{
    width: 45px;
    height: 45px;
}